<div class="has-text-centered">
  <h1 class="title is-1">Unit List</h1>
</div>

<ng-template #loaderTemplate>
  <div class="units-loader is-flex is-justify-content-center is-align-items-center">
    <app-loader [isLoading]="true"></app-loader>
  </div>
</ng-template>

<div class="columns">
  <div class="column is-4">
    <app-units-list-filter (filterChanged)="onFilterChange($event)"></app-units-list-filter>
  </div>
  <div class="column is-8 pt-5 is-relative">
    <ng-container *ngIf="!initialized" [ngTemplateOutlet]="loaderTemplate"></ng-container>
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Age</th>
          <th>Costs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of units.items; trackBy: trackByFn" [routerLink]="['/units', item.id]">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.cost | unitCostsParser }}</td>
        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="initialized" [page]="units" (pageChange)="changePage($event)"></app-paginator>
  </div>
</div>
