@import 'variables.scss';

.pagination-link, .pagination-next, .pagination-previous {
    background: $black-bis;
}

.is-active {
    background: $primary;
}

button, .pagination-link {
    cursor: pointer;
}