@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,700&display=swap');

$body-background-color: #181a21;
$logo-color: #efc657;
$navbar-link-color: #e87e1c;

body,
html {
  height: 100%;
  min-height: 100%;
  background: $body-background-color;
}


.navbar {
    background: $body-background-color;
}

.title {
    color: $logo-color;
    font-family: 'Lobster Two', cursive;
}

.navbar-link {
    color: $navbar-link-color;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    &:hover {
        color: white;
        background: inherit;
    }
}